@font-face {
  font-family: 'first'; /* Название, которое будет использоваться для шрифта */
  src: url('../fonts/first.ttf') format('opentype'); /* Путь к вашему .otf файлу */
  /* Дополнительные настройки шрифта, если необходимо */
}


   /* Собственный стиль кнопки orange */
    .orange-btn {
        color: #fff; /* Цвет текста */
        background-color: #736356; /* Цвет кнопки по хэшу */
        border-color: #736356; /* Цвет рамки кнопки */
        font-family: 'first', serif;
      }
    .orange-btn:hover {
        background-color: #736356; /* Цвет кнопки при наведении мыши */
        border-color: #736356; /* Цвет рамки при наведении мыши */
      }

      body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/bg.jpg') center/cover no-repeat fixed;
        filter: blur(1.5px); /* Размытие */
        z-index: -1; /* Помещаем псевдоэлемент под контент */
      }
 /* Стили для кнопки в состоянии :active */
     

/* Стили для навигационной панели */
.navbar {
  background-color: #736356; /* Цвет фона навигационной панели */
  font-family: 'first', serif;
}
.navbar img {
  width: 80px; /* Устанавливает ширину кнопки */
  height: auto;
}
.navbar-brand {
  color: #ffffff;
}

.navbar-brand:hover {
  color: #ffffff;
}

/* Стили для ссылок в навигационной панели */
.navbar-nav .nav-link {
  color: #ffffff; /* Цвет текста ссылок */
}
.navbar-nav .nav-item {
  border-bottom: 1px solid white; /* белая линия между пунктами меню */
  padding-bottom: 5px; /* добавление отступа между пунктами меню */
}

/* Стили для горизонтальных линий в toggler */
.navbar-toggler {
  border: 1px solid white; /* белая горизонтальная линия вокруг toggler */
  border-radius: 4px; /* радиус скругления границ */
  padding: 3px 8px; /* отступы вокруг границ */
}

/* Стили для активной ссылки в навигационной панели */
.navbar-nav .nav-item.active .nav-link {
  color: #ff0000; /* Цвет текста активной ссылки */
}

/* Стили для кнопок (если они есть) в навигационной панели */
.navbar .navbar-toggler {
  color: #ffffff; /* Цвет кнопки бургера (только для мобильных устройств) */
}
 /* Стили для футера */
.footer {
  font-family: 'first', serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #736356; /* Цвет фона футера */
  padding: 10px 0; /* Отступы внутри футера */
  text-align: center; /* Выравнивание содержимого по центру */
}
.footer img {
  /* Установка размера для изображения смайлика */
  width: 20px; /* Задайте нужную ширину для изображения смайлика */
  height: auto; /* Позволяет сохранять пропорции изображения */
  vertical-align: middle; /* Выравнивание изображения по вертикали в тексте */
}
.text-center {
  text-align: center;
}
.text-color2 {
  background-color: rgba(181, 191, 190, 0.9);
  border-radius: 15px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
.title {
  background-color: #736356;
  border-radius: 15px;
  font-size: 22px;
  width: 860px;
  padding: 15px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  max-width: 100%;
  font-weight: bold;
  font-family: 'first', serif;
}
.text-color2 img {
  border-radius: 10px; /* Добавление скругленных углов для изображения */
  width: 30%; /* Сделать изображение полностью заполняющим блок */
  height: auto; /* Автоматический подбор высоты для сохранения пропорций */
  margin-bottom: 15px; /* Добавление отступа снизу для изображения */
  margin-right: 20px; /* Отступ справа для текста */
  float: left; /* Обтекание текстом с левой стороны */
}
.text-color3 {
  background-color: rgb(181, 191, 190);
  border-radius: 15px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
.custom-margin {
  margin-bottom: 90px; /* Используйте нужное вам значение */
}     
/* Стили для кнопки закрытия модального окна */
.close-btn {
  background-color: #5d3b1f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:focus,
.close-btn:hover {
  color: black;
  background-color: #472d17; /* Цвет кнопки при фокусе или наведении */
}

/* Настройка размера контейнера карусели */
#portfolioCarousel {
  width: 100%; /* Пример: ширина 100% от родительского контейнера */
  max-width: 800px; /* Максимальная ширина карусели */
  margin: 0 auto; /* Центрирование карусели по горизонтали */
}

/* Настройка размера изображений в карусели */
.carousel-item img {
  border-radius: 10px; /* Радиус скругления углов: 10px (можете изменить по вашему усмотрению) */
  width: 100%; /* Пример: изображения занимают 100% ширины контейнера */
  height: auto; /* Автоматическая высота для соотношения сторон */
}

.chapter-content img {
  width: 100%;
  height: auto;
  max-width: 400px; /* Укажите желаемую максимальную ширину для блока картинки */
}
.paragraph-click {
  cursor: pointer; /* Делаем курсор при наведении на заголовок указателем */
  color: black; /* Меняем цвет текста заголовка для обозначения кликабельности */
  font-size: 22px;
}
.paragraph-click:hover {
  text-decoration: underline; /* Добавляем подчеркивание при наведении на заголовок */
}
.hiddenText {
  display: none;
}
.menu-bs {
  width: 240px; /* Устанавливает ширину кнопки */
  height: 40px; /* Устанавливает высоту кнопки */
}
.menu-bs2 {
  width: 480px; /* Устанавливает ширину кнопки */
  height: 40px; /* Устанавливает высоту кнопки */
  max-width: 70%;
}

/* Цвет неактивного поля формы */
.formFieldColor:disabled {
  background-color: #ac937f; /* Новый цвет фона для заблокированных полей */
  color: #333; /* Новый цвет текста для заблокированных полей */
}

/* Цвет активного поля формы */
.formFieldColor:focus {
  background-color: #ac937f;
}

/* Цвет фона для всех полей формы */
.formFieldColor {
  background-color: #ac937f; /* Новый цвет фона для всех полей формы */
}

.boldUsing {
  font-weight: bold;
}
.shopping-cart {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(181, 191, 190, 0.9);
  border-radius: 15px;
  width: 50%; /* Устанавливает ширину блока */
  min-width: 360px; /* Устанавливает минимальную ширину блока для отзывчивости */
  max-width: 600px; /* Устанавливает максимальную ширину блока для отзывчивости */
  height: 300px; /* Устанавливает высоту блока */
  padding: 20px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
.shopping-cart div {
  width: 100%;
  height: 85%;
}
.shopping-cart-inside {
  background-color: rgb(208, 225, 223);
  border-radius: 15px;
  width: 300px;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
.cart-font {
  font-size: 20px;
  font-family: 'first', serif;
}
.cart-font img {
  /* Установка размера для изображения смайлика */
  width: 35px; /* Задайте нужную ширину для изображения смайлика */
  height: auto; /* Позволяет сохранять пропорции изображения */
  vertical-align: middle; /* Выравнивание изображения по вертикали в тексте */
}
.product-content img {
  width: 400px;
  max-width: 100%;
}
.product-content p {
  margin: 7px 0; /* Устанавливаем вертикальный отступ в 5px */
}
.pcp-button {
  width: 836px;
  max-width: 100%;
}
.p-design img {
  border-radius: 3px;
  width: 40px; /* Задайте нужную ширину для изображения смайлика */
  height: auto; /* Позволяет сохранять пропорции изображения */
  vertical-align: middle;
}
#cart {
  display: flex;
  flex-direction: column; /* Это свойство указывает на направление столбца, но отображает элементы в обратном порядке */
}

